.App-header {
  background-image: linear-gradient(to right, #c7e0fd, rgb(65, 151, 250));
  color: white;
  z-index: 0;
}

a {
  color: #f1fcff;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo-text {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  margin-top: 62px;
  color:rgb(125, 32, 231);
}

.menu {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  height: 50px;
}

.dropdown-services {
  position: relative;
  width: 0;
  height: 0;
  z-index: 0;
}

.dropdown-content {
  position: absolute;
  background: gainsboro;
  border: 1px solid #f1fcff;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  height: fit-content;
  right: -100px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: black;
}